<div class="index">
    </br>
    <h1 class="main-title">Cesar's Foodie App</h1>
    </br> 
<div class="holder">
<a href="/new" class="edit-b general-b btn btn-primary"><p class="b-text">Add a Restaurant</p></a>
</br>
 <a href="/visited" class="edit-b general-b btn btn-secondary"><p class="b-text">Visited</p></a>
</br>
 <a href="/wishlist" class="edit-b general-b btn btn-secondary"><p class="b-text">Wishlist</p></a>
 </div>
</div>




