<div class="index w-100 p-3 h-100 d-inline-block">
<header>
    </br>
    <h1 class="main-title">Cesar's Foodie App</h1>
    </br> 
</header>
<div class="holder">
<a href="/new" class="general-b btn btn-primary btn-lg"><p class="b-text">Add a restaurant or venue</p></a>
</br>
 <a href="/visited" class="general-b btn btn-secondary"><p class="b-text">Places I've visited</p></a>
</br>
 <a href="/wishlist" class="general-b btn btn-secondary"><p class="b-text">Places I have not been too (wishlist)</p></a>
 </div>


</div>




