<div style="background-image: url(https://media-cdn.tripadvisor.com/media/photo-p/1b/e6/f4/6b/the-foodie-works-dishes.jpg)">
    <img src="" class="bg-img">
<header>
    </br>
    <h1>Cesar's Foodie App</h1>
    </br>
    <a href="/new" class="btn btn-primary">Add a restaurant or venue</a>
</header>

</br>

 <a href="/visited" class="btn btn-secondary">Places I've visited</a>

 </br>
</br>
 <a href="/wishlist" class="btn btn-secondary">Places I have not been too (wishlist)</a>

</div>




