<header>
    <h1>Add a Place!</h1>
</header>

<form action="/" method="POST">
  <div class="form-group">
    <label for="name"><h2>Name:</h2></label>
    <input type="text" name="name" class="form-control" />

     <label for="location"><h2>Location:</h2></label>
    <input type="text" name="location" class="form-control" />
</br>
    <label for="visited"><h2>Have you Visited? Check the box!</h2></label>
    </br>
    <input type="checkbox" name="visited" value="true"class="boxBig" />
  
</br>
    <label for="comments"><h2>Comments:</h2></label>
    </br>
    <textarea id="comments" name="comments" rows="5" cols="100"></textarea>
    {{!-- <input type="text" name="comments" class="form-control comment-box" /> --}}

  </div>
  <input type="submit" class="btn btn-primary" />
  <a href="/" class="btn btn-secondary">Cancel</a>
</form>

