body{
    background-color: #89cff0;
    padding: 0px;
    margin: 0px;
    background-image: url(https://media.istockphoto.com/vectors/food-background-vegetables-seamless-pattern-healthy-eating-tomato-vector-id1198380802?k=20&m=1198380802&s=612x612&w=0&h=90Kas9nMPliSo4S6MjLv7ICRfHdwH7eO__N915fQUnE=);
}
.color {
    background-color: aquamarine;
}
.detail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.index {
    position: absolute; 
    top: 0px;
    bottom: 0px; 
    right: 0px; 
    left: 0px;
    height: 100vh; 
}

.main-title {
    padding-top: 5vw;
    font-size: 10vw ;
    text-align: center;
}

.general-b{
    padding: 20px;
    margin: 20px;
    height: 20vw;
    width: 40vw;
    border-radius: 25%;
    text-align: center;

}

.holder {
    padding: 10vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}



.card-body {
    background-color: aquamarine;
}

.detail-back {
    background-color: aquamarine;
}

.comment-box {
    width: 40vw;
    height: 40vh;
    padding-left: 0;
    padding-top: 0;
}

.image-holder {
    display: flex; 
    overflow: hidden;
    max-width: 40vw;
    max-height: 40vh; 
    width: auto;
    height: auto;
    margin: 0 auto; 
}

.image-holder detail-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%; 
}

.card {
    padding-top: 2vh;
}

h3 {
    overflow: hidden;
}

h1 {
    padding-top: 2vh;
}

textarea {
	width: 100%;
}

.boxBig{
    width: 8rem;
    height: 8rem;
    background-color: lightgray;
}

.b-text{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    font-size: 4vw;
}

.new-submit {
    overflow: hidden;
}

.little-box {
    width: 5vw;
    height: 5vh;
    display: inline-block;
    transform: translateY(40%);
    padding-bottom: 2rem;
    margin-bottom: 3vh;
}
.size {
    width: 5vw;
    height: 5vh;
    display: inline-block;
    transform: translateY(40%);
}
.lil-sub-text{
    padding-top: 1rem;
}

.main-page-butns {
    align-items: center;
    transform:translateX(20%);
    padding: 20vw;
}
