body{
    background-color: #89cff0;
    padding: 0px;
    margin: 0px;
    background-image: url(https://media.istockphoto.com/vectors/food-background-vegetables-seamless-pattern-healthy-eating-tomato-vector-id1198380802?k=20&m=1198380802&s=612x612&w=0&h=90Kas9nMPliSo4S6MjLv7ICRfHdwH7eO__N915fQUnE=);
}
.color {
    background-color: greenyellow;
}
.detail-image {
    max-width: 100%;
    max-height: 100%;
}

.index {
    position: absolute; 
    top: 0px;
    bottom: 0px; 
    right: 0px; 
    left: 0px;
    height: 100vh; 
}

.main-title {
    font-size: 10vw ;
    text-align: center;
}



